body{
    background-color: darkcyan;
    font-family: 'Josefin Slab', serif;
}

#header{
    align-content: center;
    line-height: 200px;
    text-align: center;
    background-color: crimson;
}
#header h1{
    color: silver;
    font-size: 70px;
    
}

#nav{
    background-position: center;
}




/* <-- [START] Nav Bar [Start] --> */
#nav ul{
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color: goldenrod;
    
}

#nav a{
    display: block;
    width: 120px;
    text-decoration: none;
    text-align: center;
    color: snow;
    float:left;
    font-size: 30px;
    font-weight: 700; 
}

#nav a:hover, a:active{
    background-color: crimson;
}
/* <-- [End] Nav Bar [End] */



#content{
    height: 600px;
    background-color: crimson;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    color:snow;
}

#content form{
 position: absolute;
 left: 40%;
}



