<!DOCTYPE html>
<html>
    <head>
        
        <!-- Import from: Google Web Font API -->
        <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,700' rel='stylesheet' type='text/css'>
        
        <!-- Imported CSS stylesheet -->
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='MainCSS.css')}}">
    
    </head>
    
    <body>
        
        <!-- Title Area-->
        <div id = "header"> 
            <h1> Find Your Strength!</h1>
        </div>
        
        <!-- Nav Bar-->
        <div id = "nav" >
            <ul >
                <li> <a href="#Home">Home</a> </li>
                <li> <a href="#About">About</a></li>
            
            
            </ul>
        </div>
     
        {% block content %}{% endblock %}
        
    </body>
    
</html>