{% extends "index.html" %}

{% block relevantVerseForm %}
	 <div id = "formSection" name = 'mainForm'>
                <p>Enter Relevant Word:</p><br>
                <form onmousedown = "changeButtonColor()" onmouseup = "changeBackButtonColor()" action="{{ url_for('add_input') }}" method=POST >
                    <input type = "text" name = "inputKey" >
                    <input type = "submit" name = "submit" >
                </form>
            
      </div>

      <div id="verseArea">
{% block content %}{% endblock%}
	  </div>
{% endblock%}
